* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

:root {
    --border-color: rgb(255, 86, 115);
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-click {
    
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 6px;
    border: 2px solid var(--border-color);
    position: relative;
}

.box h1 {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}

button.option {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

button.option ~ button.option {
    margin-left: 16px;
}

.icon-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 24px;
}